
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">

                    <h2>Reset Password</h2>

                    <form action="@Url.Action("ResetPassword", "KhachHang", new { email = Request.QueryString["email"] })" id="resetpw" method="post">
                        <div class="form-group">
                            <label for="newPassword">New Password:</label>
                            <input id="newPassword" type="password" name="newPassword" class="form-control" required />
                            <label for="confirmpw">Confirm Password:</label>
                            <input id="confirmpw" type="password" name="confirmpw" class="form-control" required />
                            <div id="passwordMismatch" style="display: none; color: red;">Passwords do not match.</div>

                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
@*<script>
    function validatePassword() {
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmpw").value;

        if (newPassword != confirmPassword) {
            if (newPassword != confirmPassword) {
                // Hiển thị hộp thoại cảnh báo
                alert("Passwords do not match.");
                return false; // Ngăn form được gửi đi
            } else {
                document.getElementById("passwordMismatch").style.display = "none";
                return true; // Cho phép form được gửi đi
            }
        }</script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#resetpw').submit(function (e) {
            var pw = $('#newPassword').val().trim(); // Lấy giá trị từ input và loại bỏ khoảng trắng đầu và cuối
            var cfpw = $('#confirmpw').val().trim();
            var isvalid = true;
            //kiem tra ngày đến và ngày đi có rỗng không
            if (pw === '') {
                alert('Lam on nhap mat khau');
                isvalid = false;
            }
            if (cfpw === '') {
                alert('ban phai nhap xac nhan');
                isvalid = false;
            }
            if (pw != cfpw) {
                alert('mat khau khong trung');
                isvalid = false;
            }


            if (!isvalid) {
                e.preventDefault();

            }

        });
        // Hàm kiểm tra email có đúng định dạng hay không
        @*function isValidEmail(email) {
            // Sử dụng biểu thức chính quy để kiểm tra định dạng email
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }*@
    });
    //

</script>
