
@{
    ViewBag.Title = "doanhthutheothang";
    Layout = "~/Views/Shared/_LayoutKhachhangvaAdmin.cshtml";
}

<h2>doanhthutheothang</h2>
<canvas id="paymentChart" width="600" height="300"></canvas>
<button id="changeChartButton">Thay đổi kiểu chârt</button>
<select id="chartTypeDropdown">
    <option value="bar">Bar</option>
    <option value="pie">Pie</option>
    <!-- Thêm các kiểu biểu đồ khác nếu cần -->
</select>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        var paymentData = @Html.Raw(Json.Encode(ViewBag.TienofMonth));
        var labels = @Html.Raw(Json.Encode(ViewBag.Thang));

        var ctx = document.getElementById('paymentChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Payment Amount',
                    data: paymentData,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgb(75, 192, 192)'
                    ],
                    borderColor:
                        ['rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgb(75, 192, 192)'
                        ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false,
                //width: 50,
                //height: 30,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        //thay đổi button:
        document.getElementById('changeChartButton').addEventListener('click', function () {

            var currentType = chart.config.type;
            var newType = currentType === 'bar' ? 'pie' : 'bar'; // Chuyển đổi giữa kiểu bar và kiểu pie

            chart.config.type = newType;
            chart.update();
        });
        //
        // Thay đổi kiểu biểu đồ khi người dùng chọn từ dropdown menu
        document.getElementById('chartTypeDropdown').addEventListener('change', function () {
            var selectedType = this.value;
            chart.config.type = selectedType;
            chart.update();
        });
        //
    </script>
}
