@{
    Layout = null;
}
@model List<KStypemig.Models.Review>
<div class="rd-reviews">
    <h4>Reviews</h4>
    @foreach(var review in Model) 
    {
    <div class="review-item">
        <div class="ri-pic">
            <img src="/Content/wroot/img/room/avatar/avatar-1.jpg" alt="">
        </div>
        <div class="ri-text">
            <span>@review.CreateDate</span>
            <div class="rating">
                @{
                    for (int i = 1; i <= 5; i++)
                    {
                        if (i <= review.Rate)
                        {
                            <i class="icon_star selected "></i>
                        }
                        else
                        {
                            <i class="icon_star"></i>
                        }
                    }
                }
            </div>
            <h5>@review.Username</h5>
            <p>
                @review.Content
            </p>
           
        </div>
    </div>
     }
    @*<div class="review-item">
        <div class="ri-pic">
            <img src="/Content/wroot/img/room/avatar/avatar-2.jpg" alt="">
        </div>
        <div class="ri-text">
            <span>27 Aug 2019</span>
            <div class="rating">
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star"></i>
                <i class="icon_star-half_alt"></i>
            </div>
            <h5>Brandon Kelley</h5>
            <p>
                Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore
                magnam.
            </p>
        </div>
    </div>
*@
</div>
